<h2>Clients</h2>
<ul>
  <li class="client" [ngClass]="{'active': client == activeClient}" *ngFor="let client of clients" (click)="selectClient(client)">{{client.name}}</li>
  <li class="client new" (click)="newClient()">New</li>
</ul>

<h3>Edit Client</h3>
<button (click)="saveClient()" text="save"></button>
<field label="Client Name" [(model)]="activeClient.name"></field>
<field label="Full URL" [(model)]="activeClient.url"></field>

<h4>SSH</h4>
<p>ex: </p>
<pre *ngIf="activeClient.ssh.host && activeClient.ssh.host">$ ssh {{activeClient.ssh.user}}@{{activeClient.ssh.host}}:{{activeClient.ssh.port}} <span *ngIf="activeClient.ssh.keyFile">-i {{activeClient.ssh.keyFile}}</span></pre>
<field label="Host (IP or Hostname)" [(model)]="activeClient.ssh.host"></field>
<field label="SSH Port (Usually 22; 2222 for vagrant)" [(model)]="activeClient.ssh.port"></field>
<field label="SSH User" [(model)]="activeClient.ssh.user"></field>
<field label="SSH Keyfile (absolute path)" [(model)]="activeClient.ssh.key_file" placeholder="/users/{{activeClient.ssh.key_file || 'username'}}/.ssh/id_rsa"></field>

<h4>CMS</h4>
<select [(ngModel)]="activeClient.cms.name" (change)="cmsChange()">
  <option value="Drupal 7">Drupal 7</option>
  <option value="Drupal 8">Drupal 8</option>
  <option value="Drupal 9">Drupal 9</option>
  <option value="WordPress">WordPress</option>
  <option value="Kentico">Kentico</option>
</select>
<field label="{{activeClient.cms.name}} Login Path" [(model)]="activeClient.cms.login_path"></field>
<field label="{{activeClient.cms.name}} username" [(model)]="activeClient.cms.user"></field>
<field label="{{activeClient.cms.name}} password" [(model)]="activeClient.cms.password" type="password"></field>

<h4>Contact Form</h4>
  <div *ngFor="let form  of activeClient.forms; index as i;">
    <field [(model)]="form.name" label="Form Name"></field>
    <field [(model)]="form.url" label="Form URL"></field>
    <field [(model)]="form.id" label="Form ID"></field>
    <p>After clicking the button below, a NightmareJS window will pop up. Fill in the form with any test data you choose, and click the "save form data" button. The form data entered will be saved here for future testing.</p>
    <p>You have 10 minutes.</p>
    <p>Use placeholders in values (these will be updated as necessary):</p>
    <ul>
      <li><strong>[[q]]</strong> (Quarter)</li>
      <li><strong>[[y]]</strong> (Year)</li>
    </ul>
    <p *ngIf="submitMsg">{{submitMsg}}</p>
    <button (click)="getFormData(i)">Get form data</button>
    <button (click)="sendFormData(i)">Test form data</button>
    <div class="form-data" *ngIf="form.formData">
      <div class="form-item" *ngFor="let field of form.formData; index as a">
      <button class="remove-field" (click)="form.formData.splice(a, 1)" title="Remove field: {{fieldLabelFormat(field.name)}}">x</button>
      <field [(model)]="field.value" [label]="fieldLabelFormat(field.name)"></field>
    </div>
  </div>
