.client {
  list-style-type: none;
  margin: 0 0 1em;
  padding: .2em 1em;


  &.active {
    background: var(--sdGreen);
    color: #fff;
  }
}

.form-data {
  .form-item {
    display: flex;
    margin-top: 10px;

    .remove-field {
      flex: 0 1 auto;
    }

    field {
      flex: 1 0 auto;
    }
  }
}
