<h2>Status</h2>
<table>
  <tbody>
    <tr>
      <td>Cron Running</td>
      <td>Last run 10 min 11 sec ago</td>
    </tr>
    <tr>
      <td>File System Permissions</td>
      <td>Writable (public download method)</td>
    </tr>
    <tr>
      <td>Configuration File Protected</td>
      <td>Protected</td>
    </tr>
    <tr>
      <td>Access to update.php</td>
      <td>Protected</td>
    </tr>
    <tr>
      <td>Forms Submissions Tested</td>
      <td>confirmed</td>
    </tr>
    <tr>
      <td>DB Backup Running</td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Dev Site Updated
        <span class="note">do a manual backup of the dev sites database before overwriting it.</span>
      </td>
      <td>Yes</td>
    </tr>
    <tr>
      <td>Google Analytics Reporting</td>
      <td>Running</td>
    </tr>
    <tr>
      <td>Prod SSL Certificate Expiration Date</td>
      <td>Wednesday, October 6, 2021</td>
    </tr>
    <tr>
      <td>PHP opcache enabled on Prod</td>
      <td>Yes</td>
    </tr>
  </tbody>
</table>

