$space: 24px;
$half-space: $space * .5;

:host {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #fff;
  overflow: hidden;
}
header {
  flex: 0 1 auto;
  padding: $space $space $half-space;
}

main {
  flex: 1 0 50vh;
  padding: 50px $space 0;
  overflow: auto;
}

footer {
  flex: 0 1 auto;
  padding: $half-space $space;
}
